<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flash_Cards.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flash_Cards.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flash_Cards.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>275</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="EditWindowWidth" serializeAs="String">
                <value>475</value>
            </setting>
            <setting name="EditWindowHeight" serializeAs="String">
                <value>325</value>
            </setting>
        </Flash_Cards.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Flash_Cards.Properties.Settings>
            <setting name="Extension_MasterFile" serializeAs="String">
                <value>fcd</value>
            </setting>
            <setting name="Extension_SessionFile" serializeAs="String">
                <value>fcs</value>
            </setting>
            <setting name="ButtonText_ShowAnswer" serializeAs="String">
                <value>Show &amp;Answer</value>
            </setting>
            <setting name="ButtonText_ComeBackLater" serializeAs="String">
                <value>Come back to this &amp;later</value>
            </setting>
            <setting name="ButtonText_AnswerCorrect" serializeAs="String">
                <value>I answered &amp;Correctly</value>
            </setting>
            <setting name="ButtonText_AnswerIncorrect" serializeAs="String">
                <value>I did &amp;Not answer correctly</value>
            </setting>
        </Flash_Cards.Properties.Settings>
    </applicationSettings>
</configuration>