<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erwine.Leonard.Thomas.Flash_Cards.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erwine.Leonard.Thomas.Flash_Cards.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Erwine.Leonard.Thomas.Flash_Cards.Data.Properties.Settings>
            <setting name="DeckNamespace" serializeAs="String">
                <value>http://www.erwinefamily.net/FlashCards/Deck</value>
            </setting>
            <setting name="DropDownInfoNamespace" serializeAs="String">
                <value>urn:FlashCardsDropDownInfo</value>
            </setting>
        </Erwine.Leonard.Thomas.Flash_Cards.Data.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Erwine.Leonard.Thomas.Flash_Cards.Data.Properties.Settings>
            <setting name="XMLSchemaNamespace" serializeAs="String">
                <value>http://www.w3.org/2001/XMLSchema</value>
            </setting>
        </Erwine.Leonard.Thomas.Flash_Cards.Data.Properties.Settings>
    </userSettings>
</configuration>